/*.box {
    width: 70px;
    height: 70px;
    background-color: silver;
    font-size: 300%;
    text-align: center;
    display: block;
    position: absolute;
    top: 100px;
    left: 10px;  
}*/
.box {
    height: 70px;
    width: 70px;
    font-size: 300%;
    text-align: center;
    position: absolute;
    background-color: silver;
    border-radius: 50%;
    display: inline-block;
    top: 100px;
    left: 10px;  
}

  